<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<body>


<!-- Website Title Picture -->
<section>
  <img src="/static/tweet_pic.png" height="500" width="100%">
 </section>

<!-- Website Heading -->
<section class="w3-container w3-content w3-padding-16" style="max-width:1000px">
  <h1 class="w3-wide w3-center"><b>FE 595 Project Summary</b></h1>
  <p class="w3-opacity w3-center"><i>Twitter Data - Scraping, sentiment analysis and modelling sentiments </i></p>
  <p class="w3-justify"> Our objective was to explore different methods of obtaining tweet related data from twitter
                        and to perform analysis on the same. We have used the following methods to obtain data from
			twitter - Selenium, Tweepy and Old Tweets Libraries. </br>
			</br>
			We have further performed the following actions on the data scraped:
			<ul class="w3-ul w3-left">
    				<li>Part A - Built a twitter based sentiment indicator of public opinion on the economy (Keyword based)</li>
    				<li>Part B - Built text classification models to identify sentiment of tweets (Opinion Mining)</li>
    				<li>Part C - Tweet based Bitcoin Sentiment Analysis</li>
  			</ul>			
	</p>
</section>

<!-- First Article Section -->

<section class="w3-padding-8 w3-row-padding w3-center w3-light-grey">
  <h2 class="w3-center"><b>Part A - Twitter Economy Sentiment Indicator</b></h2>

<p class="w3-justify w3-center w3-padding-8"> We have built a public opinion indicator about the US economy using tweets from the 
past 24 hours.
</p>

<table border = "1" class="w3-table" style="width:40%" align="center">
	  <tr>
  		  <th>Sentiment</th>
 		   <th style="text-align:center">Percentage</th>
   	</tr>
  	<tr>
    		<td>Positive Sentiment</td>
    		<td style="text-align:center"> {{twit_sent1}}% </td>
    	</tr>
  	<tr>
    		<td>Negative Sentiment</td>
    		<td style="text-align:center"> {{twit_sent2}}% </td>
    	</tr>
	</table>
	
	<font size = "-2">
	Last Updated: {{time}} <br/>
	Tweets Analyzed: {{tweets}} Tweets <br/>
	</font>


<p class="w3-justify"> <i> Currently the cap on tweets scraped is 10K, however, this can be scaled up later on. 
Further, we can also look at setting up cronjobs to ensure that the sentiment and flask script is refreshed based 
on fresh tweets every 6 or 12 hours. 
</i></p>

</section>


<!-- Second Article Section -->

<section class="w3-padding-16 w3-row-padding w3-center w3-Pale-Blue">
  <h2 class="w3-center"><b>Part B - Text Classification Model Ouput - Opinion Mining</b></h2>

<p class="w3-justify w3-center"> The data scraped was labelled based on positive or negative sentiment and 
classifier models were trained on the text to identify sentiment of tweet.
</p>

<p class="w3-justify w3-center"><i> Account used: elerianm </i></p>


  <article class="w3-half">
    <p><i>Naive Bayes Algorithm</i></p>


<table border = "1" class="w3-table">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th style="text-align:center">precision</th>
      <th style="text-align:center">recall</th>
      <th style="text-align:center">f1-score</th>
      <th style="text-align:center">support</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th style="text-align:left">0</th>
      <td style="text-align:center">0.754386</td>
      <td style="text-align:center">0.430000</td>
      <td style="text-align:center">0.547771</td>
      <td style="text-align:center">100.000000</td>
    </tr>
    <tr>
      <th style="text-align:left">1</th>
      <td style="text-align:center">0.686813</td>
      <td style="text-align:center">0.899281</td>
      <td style="text-align:center">0.778816</td>
      <td style="text-align:center">139.000000</td>
    </tr>
    <tr>
      <th style="text-align:left">accuracy</th>
      <td style="text-align:center">0.702929</td>
      <td style="text-align:center">0.702929</td>
      <td style="text-align:center">0.702929</td>
      <td style="text-align:center">0.702929</td>
    </tr>
    <tr>
      <th style="text-align:left">macro avg</th>
      <td style="text-align:center">0.720600</td>
      <td style="text-align:center">0.664640</td>
      <td style="text-align:center">0.663293</td>
      <td style="text-align:center">239.000000</td>
    </tr>
    <tr>
      <th style="text-align:left">weighted avg</th>
      <td style="text-align:center">0.715086</td>
      <td style="text-align:center">0.702929</td>
      <td style="text-align:center">0.682144</td>
      <td style="text-align:center">239.000000</td>
    </tr>
  </tbody>
</table>

  </article>

<article class="w3-half">
    <p><i>Logistic Regression</i></p>
  
<table border="1" class="w3-table">
  <thead>
    <tr style="text-align: right;">
      <th style="text-align:center"></th>
      <th style="text-align:center">precision</th>
      <th style="text-align:center">recall</th>
      <th style="text-align:center">f1-score</th>
      <th style="text-align:center">support</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th style="text-align:left">0</th>
      <td style="text-align:center">0.709677</td>
      <td style="text-align:center">0.440000</td>
      <td style="text-align:center">0.543210</td>
      <td style="text-align:center">100.000000</td>
    </tr>
    <tr>
      <th style="text-align:left">1</th>
      <td style="text-align:center">0.683616</td>
      <td style="text-align:center">0.870504</td>
      <td style="text-align:center">0.765823</td>
      <td style="text-align:center">139.000000</td>
    </tr>
    <tr>
      <th style="text-align:left">accuracy</th>
      <td style="text-align:center">0.690377</td>
      <td style="text-align:center">0.690377</td>
      <td style="text-align:center">0.690377</td>
      <td style="text-align:center">0.690377</td>
    </tr>
    <tr>
      <th style="text-align:left">macro avg</th>
      <td style="text-align:center">0.696647</td>
      <td style="text-align:center">0.655252</td>
      <td style="text-align:center">0.654516</td>
      <td style="text-align:center">239.000000</td>
    </tr>
    <tr>
      <th style="text-align:left">weighted avg</th>
      <td style="text-align:center">0.694520</td>
      <td style="text-align:center">0.690377</td>
      <td style="text-align:center">0.672679</td>
      <td style="text-align:center">239.000000</td>
    </tr>
  </tbody>
</table>


</section>

<!-- Third Article Section -->

<section class="w3-padding-16 w3-row-padding-16 w3-center w3-light-grey">
  <h2 class="w3-center"><b>Part C - Twitter Bitcoin Sentiment Analysis</b></h2>

<p class="w3-justify w3-center w3-padding-8"> We scraped data relating to bitcoins and compared two methods 
(textblob and financial word dictionary) in creating measure of daily sentiment bitcoin and analyzing the 
movement of bitcoin sentiment towards the date of 3rd BTC halving.	
</p>

  <img src="/static/bitcoin.png" class="center">
</section>

<!-- Footer -->
<footer class="w3-container w3-padding-16 w3-center w3-black w3-xlarge">
  <p class="w3-medium">
  <i>Powered by Group 9 Team Members (FE 595)</i>
  </p>
</footer>


</body>
</html>
